.text_box_header {
    font-size: 1.5em;
    font-weight: bold;
}

.text_box {
    outline: none;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 2px;
    flex: 1;
    min-height: 34px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text_box:focus {
    border: 2px solid var(--color-soft-accent);
    padding: 0;
}

.page_text_block_container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}