.app_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-right: 5px solid var(--color-soft-border);
    box-sizing: border-box;
    padding: 0 10px;
    background-color: var(--color-pure-background);
    z-index: 1000; /* Opacity of the block options seems to mess up the stacking context */
}

.app_sidebar_pull_tab {
    height: 60px;
    width: 20px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: calc(250px - (2.5px / 2));
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pure-background);
    border: 5px solid var(--color-soft-border);
    border-radius: calc(25px / 2);
}

.app_sidebar_logo {
    font-size: 1.75rem;
    width: 100%;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.app_sidebar:hover {
    left: 0;
}

.app_sidebar.locked_open {
    left: 0;
}

.app_sidebar {
    left: -240px;
    transition: left 0.3s ease-in-out;
}

.app_sidebar_navigation {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    margin: 5px 0;
}

.app_sidebar_navigation a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 4px;
    display: block;
    border: 2px solid transparent;
}

.app_sidebar_navigation a:hover {
    text-decoration: underline;
    border: 2px solid var(--color-border);
}