.selected_add_block {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
    padding: 2px 4px;
    font-weight: bold;
}

.page_add_block {
    background-color: var(--color-background);
    color: var(--color-foreground);
    padding: 2px 4px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.add_block_description {
    opacity: 0.8;
    font-size: 0.9em;
    font-weight: normal;
}

.page_add_block_popover {
    z-index: 20;
}

.page_add_block_popover_search_results {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: var(--color-background);
    padding: 2px;
    border: 2px solid var(--color-border);
    border-radius: 4px;
}