.inset_container {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-secondary-background);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid var(--color-soft-border);
    align-items: stretch;
}

.inset_container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-pure-background);
    border: 2px solid var(--color-soft-border);
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.notebook_options {
    flex-direction: column !important;
    align-items: stretch !important;
    gap: 10px;
}

.notebook_share_list {
    margin: 0 !important;
}

.notebook_options_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notebook_share_list {
    margin-left: 20px;
}

.notebook_share_entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.right_button_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.secondary_text {
    color: var(--color-light-text);
}