.flashcard_complete_results_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 5px;
}

.flashcard_complete_results_container > div {
    border: 2px solid var(--color-border);
    border-radius: 8px;
    padding: 15px 25px;
    background-color: var(--color-secondary-background);
    text-align: center;
    flex: 1;
}

.flashcard_complete_results_container > div > b {
    display: block;
}

.flashcard_complete_results_mastery {
    border: 2px solid var(--color-accent) !important;
}

.flashcard_complete_results_mastery_delta {
    color: var(--color-text-secondary);
}