.page_block_dragger, .page_block_adder {
    border: 2px solid var(--color-softest-border);
    font-weight: bold;
    border-radius: 6px;
    padding: 0;
    height: 13px;
    box-sizing: initial;
    justify-content: center;
    align-items: center;
    width: auto;
    cursor: grab;
    font-family: monospace;
    opacity: 0.2;
    display: flex;
    text-align: center;
    transition: opacity 0.1s ease-in-out;
}

.page_block_dragger {
    margin-bottom: 1px;
}

.page_block_wrapper {
    margin: 4px 0;
}

.page_block_wrapper:hover:not(:has(.page_block_wrapper:hover)) > .page_block_controls_container > .page_block_dragger,
.page_block_wrapper:hover:not(:has(.page_block_wrapper:hover)) > .page_block_controls_container > .page_block_adder {
    opacity: 1;
}

.page_block_container {
    border-radius: 2px;
}

/* .page_block_container:hover {
    border-left: 2px solid var(--color-soft-border);
    padding-left: 1px;
}

.page_block_container:hover:has(.page_block_container:hover) {
    border-left: 2px solid var(--color-softest-border);
    padding-left: 1px;
} */


.page_block_container {
    border-left: 2px solid transparent;
    padding-left: 1px;
}

.page_block_highlight {
    width: 100%;
    height: 4px;
    transform: translate(0, -50%);
    background-color: rgba(0, 85, 255, 0.71);
    border-radius: 1px;
    transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
}

.page_block_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    gap: 1px;
}

.page_block_container {
    flex: 1;
}

.page_block_controls_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-right: 1px;
    flex: 0;
}

.page_block_options {
    height: 0;
    overflow: visible;
    position: relative;
}

.page_block_options_container {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 40;
}

.page_block_options_container > * {
    padding: 4px 8px;
    cursor: pointer;
    border: 2px solid var(--color-soft-border);
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-radius: 0;
}

.page_block_options_container > *:first-child {
    /* border-top-left-radius: 4px !important; */
    border-top-right-radius: 8px !important;
    border-top-width: 2px !important;
}

.page_block_options_container > *:last-child {
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-width: 2px !important;
}

.expanded_dragger {
    border-color: var(--color-soft-border);
    opacity: 1;
    z-index: 50;
}

.page_block_binner:hover {
    border-color: var(--color-error);
}

.page_block_adder {
    font-size: 0.67em;
}

.delete_prompt_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 499;
    backdrop-filter: blur(1px) brightness(0.95);
}

.delete_prompt_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-pure-background);
    border: 2px solid var(--color-border);
    border-radius: 8px;
    padding: 16px;
    z-index: 500;
}

.delete_prompt_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.confirm_delete_button {
    border-color: var(--color-error);
    background-color: var(--color-pure-background);
    color: var(--color-error);
}

.confirm_delete_button:hover {
    background-color: var(--color-error);
    color: var(--color-pure-background);
    border-color: var(--color-error) !important;
}