.image_block_image {
    max-width: 100%;
    height: auto;
    min-height: 200px;
}

.image_block_placeholder {
    height: 250px;
    width: 350px;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--color-border);
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    border-radius: 12px;
}

.image_block_file_input {
    display: none;
}